services:
  db:
    image: postgres
    restart: always
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - internal

  app:
    image: nextcloud:latest
    restart: always
    volumes:
      - nextcloud:/var/www/html # Pulls from /var/lib/docker/volumes/nextcloud_nextcloud/_data/
      #- ./nextcloud/config:/var/www/html/config # Pulls from local dir
      #- /mnt/someHDD/nextcloud:/mnt/hdd # Pulls from root
    networks:
      - traefik-public
    labels:
      - "traefik.backend=nextcloud"
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:cloud.unitygm.net"
      - "traefik.port=80"

networks:
  traefik-public:
    external: true

volumes:
  db:
  nextcloud: